@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;


.contact{
       text-align: center;
       padding-top: 2rem;
       padding-bottom: 2rem;
        @include responsive(laptop) {
            width: 100%;
            justify-items: center;
            justify-content: center;
            text-justify: center;
            padding-top: 8rem;
            padding-bottom: 10rem;
            
        }
&__title{
        font-size: 2.5rem;
        color: var(--principal);
        margin-top: 10rem;
        @include responsive(laptop) {
            font-size: 3.5rem;
            text-decoration: none;
            font-weight: 800; 
            display: flex;
            text-justify: center; 
            justify-content: center;
        }
}
&__socials{
        margin-bottom: 10rem;
        @include responsive(laptop) {
            display: flex;
            flex-direction: row;
            gap: 10rem;
            text-justify: center; 
            justify-content: center; 
            padding-top: 8rem;
        }
}
&__social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include responsive(laptop) {
          
            
            
        }
}
&__name{
        font-size: 1rem;
        font-weight: 500;
        text-decoration: underline;
        color: var(--principal);
        @include responsive(laptop) {
            font-size: 1.8rem;    
        }

}
&__flex{
        width: 50px;
        @include responsive(laptop) {
        }
}
}