@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.projects {
  border: 1.5px solid #2c2830;
  border-bottom: none;
  border-top: none;
  margin: 2rem;
  margin-top: -2rem;
  padding: 2rem;
  @include responsive(laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c191f;
  }
  &__title {
  }
  &__container {
  }
  &__project {
  }
  &__name {
  }
  &__image {
  }
  &__info {
  }
  &__live {
  }
}
