@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.projects {
  border: 1.5px solid #2c2830;
  border-bottom: none;
  border-top: none;
  margin: 2rem;
  margin-top: -2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--principal);
  @include responsive(laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  &__title {
    font-size: 2.2rem;
    @include responsive(laptop) {
    margin-top: 8rem;
    font-size: 3rem;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-top: 1px solid #1c191f;
    }
  }
  &__container {
    display: none;
    @include responsive(laptop) {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      color: var(--principal);
    }
  }
}

.projects-menu {
  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
  }
}

.second-menu__item {
  @include responsive(laptop) {
    font-size: 1rem;
    color: var(--principal);
    line-height: 1rem;
    border-bottom: 1px solid #2c2830;
  }
}

.project {
  display: none;
  color: var(--principal);
  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 88rem;
    left: 0rem;

  }

  &__name {
  }
  &__image {
    
  }
  &__info {
    @include responsive(laptop) {
      position: relative;
      right: 18%;
      font-size: 1.3rem;
    }
  }
  &__live {
  }
}

.image__insure1 {
  @include responsive(laptop) {
    position: relative;
    width: 60%;
    left: 18%;
    opacity: 0.9;
  }
}
.image__insure2 {
  @include responsive(laptop) {
    position: relative;
    width: 10%;
    left: 12%;
    top: -190px;
    z-index: 10;
  }
}
.image__insure3 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -300px;
    left: 43%;
    opacity: 0.9;
  }
}
.image__insure4 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -600px;
    left: 74%;
  }
}


.image__easy1 {
  @include responsive(laptop) {
    position: relative;
    width: 50%;
    left: 27%;
    opacity: 0.9;
  }
}
.image__easy2 {
  @include responsive(laptop) {
    position: relative;
    width: 16%;
    left: 19%;
    top: 60px;
    z-index: 10;
  }
}
.image__easy3 {
  @include responsive(laptop) {
    position: relative;
    width: 12%;
    z-index: 10;
    top: -35%;
    left: 120px;
    opacity: 0.9;
  }
}
.image__easy4 {
  @include responsive(laptop) {
    position: relative;
    width: 10%;
    z-index: 10;
    top: -300px;
    left: 74%;
  }
}

.image__easy5 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -480px;
    left: 49%;
  }
}


.image__type1 {
  @include responsive(laptop) {
    position: relative;
    width: 50%;
    left: 27%;
    opacity: 0.9;
  }
}
.image__type2 {
  @include responsive(laptop) {
    position: relative;
    width: 16%;
    left: 19%;
    top: 60px;
    z-index: 10;
  }
}
.image__type3 {
  @include responsive(laptop) {
    position: relative;
    width: 12%;
    z-index: 10;
    top: -350px;
    left: 12%;
    opacity: 0.9;
  }
}
.image__type4 {
  @include responsive(laptop) {
    position: relative;
    width: 10%;
    z-index: 10;
    top: -300px;
    left: 74%;
  }
}

.image__type5 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -480px;
    left: 49%;
  }
}

.image__clip1 {
  @include responsive(laptop) {
    position: relative;
    width: 50%;
    top: 200px;
    left: 27%;
    opacity: 0.9;
  }
}
.image__clip2 {
  @include responsive(laptop) {
    position: relative;
    width: 16%;
    left: 30%;
    top: -280px;
    z-index: 10;
  }
}
.image__clip3 {
  @include responsive(laptop) {
    position: relative;
    width: 12%;
    z-index: 10;
    top: -290px;
    left: 12%;
    opacity: 0.9;
  }
}
.image__clip4 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -550px;
    left: 57%;
  }
}

.image__clip5 {
  @include responsive(laptop) {
    position: relative;
    width: 15%;
    z-index: 10;
    top: -580px;
    left: 79%;
  }
}

li:hover {
  @include responsive(laptop) {
  border: 1px solid #2c2830;
  }
}


.proyectmob {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--principal);
  text-decoration: underline;
  @include responsive(laptop) {
    display: none;
    }
&__name {
  color: var(--principal);
  font-size: 2rem;
  text-decoration: underline;
  @include responsive(laptop) {
    display: none;
    }
}
&__capture{
  opacity: 0.9;
  @include responsive(laptop) {
    display: none;
    }
}
&__text{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-align: justify;
  justify-content: space-between;
  @include responsive(laptop) {
    display: none;
    }
}
&__live{
  display: flex;
  flex-direction: row;
  @include responsive(laptop) {
    display: none;
    }
}
&__code{
  @include responsive(laptop) {
    display: none;
    }
}
}
